PORT=5000
MONGODB_URI=
CLIENT_URL=http://localhost:5173
PUBLIC_APP_URL=http://localhost:5173
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PASSWORD_RESET_SECRET=
IP_HASH_SECRET=
NODE_ENV=development
